@tailwind base;
@tailwind components;
@tailwind utilities;

/* 다크모드와 기본 컬러 변수 */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
